.floating-heart{
position:fixed;
bottom:-20px;
font-size:20px;
animation:float 6s linear forwards;
}

@keyframes float{
0%{
transform:translateY(0);
opacity:1;
}
100%{
transform:translateY(-100vh);
opacity:0;

margin:0;
padding:0;
box-sizing:border-box;
font-family: serif;
}

body{
background:#000;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
background:#fff5f5;
padding:30px;
border-radius:25px;
width:330px;
text-align:center;
}

.cute{
width:90px;
position:absolute;
margin-left:-150px;
margin-top:120px;
}

#heart{
position:relative;
margin:auto;
width:260px;
height:220px;
}

.heart{
position:absolute;
width:22px;
height:22px;
background:url("https://i.imgur.com/Z6K6bQp.png");
background-size:contain;
}

h1{
color:#d14b6f;
margin-top:15px;
}